{% trans_default_domain "LpsaAppBundle" %}

{% if service.id is not null %}
    {% set deleteClassSelector = 'service' %}
{% endif %}

{% extends "LpsaAppBundle:Layout:newEdit.html.twig" %}

{% block crud_header_title %}
    {{ 'service.crud_header_title'|trans }}
{% endblock %}
{% block crud_panel_title %}{% if service.id is not null %}{{ 'service.crud_panel_title.edit'|trans }}{% else %}{{ 'service.crud_panel_title.new'|trans }}{% endif %}{% endblock %} 
{% block crud_panel_nav %}
    {% if service.id is not null %}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('service_index') }}" class="btn btn-default" style="padding: 6px 12px;"><i class="fa fa-mail-reply"></i> {{ 'form.back'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('service_delete',{'id': service.id }) }}" class="btn btn-default service-delete" style="padding: 6px 12px;"><i class="fa fa-trash-o"></i> {{ 'form.delete'|trans }}</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
{% block crud_panel_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% if service.id is not null %}{{ 'form.update'|trans }}{% else %}{{ 'form.add'|trans }}{% endif %}" class="btn btn-default" />
    {{ form_end(form) }}    
{% endblock %} 