{% extends 'base.html.twig' %}

{% block body %}
    <h1>EvenementCategorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenementCategorie.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ evenementCategorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenementcategorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evenementcategorie_edit', { 'id': evenementCategorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
