{% extends "base_admin.html.twig" %}

{% trans_default_domain "LpsaAppBundle" %}
{% block content %}
    <div class="row">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message|trans({}, 'LpsaAppBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'exerciceurgence.page_header'|trans }}</h1>
        </div>
        <div style="float: right" class="btn-action">
            <a class="btn btn-default" href="{{ path('exerciceurgence_new') }}">{{ 'exerciceurgence.crud_panel_title.new' |trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'exerciceurgence.panel_heading'|trans }}
                </div>

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-exerciceurgence">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'exerciceurgence.table.depot'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.nbrePoi'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.nbreMiniPoi'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.nbrePum'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.nbreCombine'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.nbreCmc'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.mois'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.annee'|trans }}</th>
                                <th>{{ 'exerciceurgence.table.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exerciceUrgence in exerciceUrgences %}
                                <tr>
                                    <td class="id-td"><a href="{{ path('exerciceurgence_edit',{'id' : exerciceUrgence.id }) }}" title="{{ 'form.edit'|trans }}">{{ exerciceUrgence.id }}</a></td>
                                    <td>{{ exerciceUrgence.depot }}</td>
                                    <td>{{ exerciceUrgence.nbrePoi }}</td>
                                    <td>{{ exerciceUrgence.nbreMiniPoi }}</td>
                                    <td>{{ exerciceUrgence.nbrePum }}</td>
                                    <td>{{ exerciceUrgence.nbreCombine }}</td>
                                    <td>{{ exerciceUrgence.nbreCmc }}</td>
                                    <td>{% set mois='calendar.month.'~exerciceUrgence.mois %}{{ mois|trans }}</td>
                                    <td>{{ exerciceUrgence.annee }}</td>
                                    <td class="btn-action-table"> 
                                        <div class="btn-content">
                                            <a href="{{ path('exerciceurgence_edit', { 'id': exerciceUrgence.id }) }}" class="btn btn-default left"><i class="fa fa-edit"></i></a>
                                            <a href="{{ path('exerciceurgence_delete', { 'id': exerciceUrgence.id }) }}" class="btn btn-default left exerciceurgence-delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block others_stylesheets %}
    {{ parent() }}
    <style>
        .left{
            float: left;
        }
    </style>
{% endblock %}

{% block others_javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-exerciceurgence').DataTable({
                responsive: true,
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                "order": [[ 1, "asc" ]]
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.exerciceurgence-delete', function (e) {
                var r = confirm("{{ 'whishes.delete'|trans }}");
                if (r !== true) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
