{% extends "base_admin.html.twig" %}

{% trans_default_domain "LpsaAppBundle" %}
{% block content %}
    <div class="row">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|trans({}, 'LpsaAppBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Paramétrage et Configuration</h1>
        </div>
    </div>
    {% if not is_granted('ROLE_KPIHSE') and not is_granted('ROLE_PAQSSSE') %}
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Utilisateur - groupe</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('direction_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-bank fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Direction</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('departement_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-university fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Département</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('service_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-institution fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Service</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_fonction_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer fonction</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('fos_user_group_list') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer groupe utilisateur</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_responsableservice_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Responsable Service</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Matrice de gravité</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_gravite_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-flash fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer gravité</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('corporel_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-ambulance fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Corporel</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('materiel_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-life-bouy fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Matériel</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('impactmediatique_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-medium fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Médiatique</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('impactclient_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-user-times fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Qualité</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_dysfonctionnement_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-wrench fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Dysfonctionnement</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('environnement_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-envira fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Environnement</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Zone et Site</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_depotcategorie_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-sitemap fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Zone de dépot</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_depot_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-pie-chart fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Site</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('objectifdepot_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-hand-o-up fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Objectif par dépot</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Heure de travail</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('heuretravail_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-hourglass-half fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer heure de travail</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('heuretravailcategorie_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Type de personnels</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Gestion statut</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('evenementstatut_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-adjust fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer statut évènement</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('evenementactionprogresstatus_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-gears fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer statut action progresse</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Gestion PAQSSSE</h2>
        </div>
    </div>
    <div class="row option-list">
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_paq3seGravite_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-warning fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer gravité PAQSSSE</p>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% if not is_granted('ROLE_PAQSSSE') %}
    <div class="row">
        <div class="col-lg-12 config-list">
            <h2>Statistique</h2>
        </div>
    </div>
    <div class="row option-list">
        {% if app.user.hasRole('ROLE_DECANTEUR') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('decanteur_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-list fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Décanteur</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% if app.user.hasRole('ROLE_EXERCICE_URGENCE') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('exerciceurgence_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-space-shuttle fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Exercice Urgence</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% if app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('admin_fuiteProduit_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-ship fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Fuite produit non mesurable</p>
                </div>
            </a>
        </div>
        {% endif %} 
        {% if app.user.hasRole('ROLE_INDICATEUR_TRANSPORT') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('indicateurTransport_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-truck fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Indicateur transport</p>
                </div>
            </a>
        </div>
        {% endif %}      
        {% if app.user.hasRole('ROLE_LABORATOIRE') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('laboratoire_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-adn fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Laboratoire</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% if app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('objectifltirtrir_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-bar-chart fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Objectif TRIR-LTIR</p>
                </div>
            </a>
        </div>  
        {% endif %} 
        {% if app.user.hasRole('ROLE_OBJECTIF_KPI') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('objectifKpihse_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-bar-chart fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Objectif KPI HSE</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% if app.user.hasRole('ROLE_PIEZOMETRE') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('piezometre_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-list fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Piezomètre</p>
                </div>
            </a>
        </div>
        {% endif %} 
        {% if app.user.hasRole('ROLE_TOOLBOX') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('toolbox_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-folder fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Toolbox</p>
                </div>
            </a>
        </div>
        {% endif %}                     
        {% if app.user.hasRole('ROLE_VISITE') or app.user.hasRole('ROLE_KPIHSE') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-2">
            <a href="{{ path('visite_index') }}" class="thumbnail">
                <div class="icon-option">
                    <i class="fa fa-low-vision fa-5x"></i>
                </div>
                <div class="caption caption-option">
                    <p>Gérer Visite</p>
                </div>
            </a>
        </div>
        {% endif %}  
    </div>
    {% endif %}

{% endblock %}

{% block others_stylesheets %}
    {{ parent() }}
    <style>
        .left{
            float: left;
        }
    </style>
{% endblock %}
